# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*

# Precompiled Headers
*.gch
*.pch
*.pwn

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Files
*.lai
*.la
*.a
*.lib
*.amx

# Executables
*.exe
*.out
*.app
